![LegoSchema](Lego_Schema.PNG)

# DTSC 580: Data Manipulation
## Assignment: LEGO Project
### Name:

In [ ]:
Colum of interest: set_num, fig_num, fig_name, fig_num_parts
                   fig_num, fig_name
                   set_num, version,name_sets, fig_num, fig_name

In [3]:
themeset = themes.merge(sets, left_on='id',right_on='theme_id', suffixes=('_themes', '_sets'))

In [156]:
# merge themes to sets
themeset = themes.merge(sets, left_on='id',right_on='theme_id', suffixes=('_themes', '_sets'))

# merge the output above to inventories
themesetinvent = themeset.merge(inventories, on=['id','set_num'], how='outer')

# merge the output above to inventory_minifigs
themesetinventmini = themesetinvent.merge(inventory_minifigs, left_on='id',right_on='inventory_id',how='outer')

# merge the output above to minifigs
themesetinventminifig = themesetinventmini.merge(minifigs, on='num_parts',how='outer', suffixes=(None,'_parts'))

# Rename the column name to fig_name
themesetinventminifig.rename(columns={'name':'fig_name'},inplace=True)

In [40]:
themesetinventminifig.head(2)

,id,name_themes,parent_id,set_num,name_sets,year,theme_id,num_parts,version,inventory_id,fig_num,quantity,fig_num_parts,fig_name
0,1,Technic,NaN,001-1,Gears,1965.0,1.0,43.0,NaN,NaN,NaN,NaN,fig-010202,Iron Golem
1,1,Technic,NaN,001-1,Gears,1965.0,1.0,43.0,NaN,NaN,NaN,NaN,fig-011494,Iron Golem - Jungle

In [19]:
minifigs.head(2)

      fig_num                name  num_parts
0  fig-000001  Toy Store Employee          4
1  fig-000002        Customer Kid          4

Q14:

Create a function called get_minifigs that takes as input a set number (as a string) and a version number (as an integer) and outputs all minifigs from that set / version combination.
The DataFrame should be in fig_num order with the following columns/column names: set_num, fig_num, fig_name, fig_num_parts.
The index should go from 0 to n-1.

## Overview

In this assignment, you will load the various tables from the [Rebrickable](https://rebrickable.com/) website and perform analysis on the data.  Rebrickable is a fantastic website that is used to show you which LEGO sets you can build from the sets and parts you already own.  They will even show you which parts you are missing to complete the new set and suggest sets that you could purchase to get those parts.  

## Data

The data has been downloaded directly from their website and includes files for the tables shown in the schema above.  Your first task will be to go through the data and review the schema to understand how the tables all fit together.  There is no data dictionary that I am aware of, but you should be able to understand this data by reviewing the files and schema and visiting their [Download](https://rebrickable.com/downloads/) page and [API](https://rebrickable.com/api/) documentation.  **Note that you must use the files downloaded from Brightspace for this assignment and not download new files from the Rebrickable website.**

## Assignment

In this assignment, you will create a number of functions to complete certain tasks.  This is not needed if you were working on this project on your own, but since we want to see if you can select the data via Pandas/Numpy, we will use those functions in the automatic grading in CodeGrade.  Without this, students could try to look up the answers in the `csv` files instead of wrangling the data with Python/Pandas, which would defeat the purpose of this class.

In addition, we would strongly suggest that you merge data sets as appropriate for the given task.  For example, you might merge the `sets` and `themes` DataFrames to answer one question, and then merge `sets`, `inventories`, `inventory_minifigs`, and `minifigs` to answer another.  This will make your code much easier to write and will be key in working with data across multiple tables.  In fact, I was able to create each function with only one line of code because of the merging of certain data sets.  Also note that you may not use all the tables in this assignment.  This is also an important skill for a Data Scientist to know when to use data and what data is unnecessary.

When complete, save your notebook as `lego.ipynb` and submit to CodeGrade for automatic grading.

## Note

<u>Show Work</u>

Remember that you must show your work.  Students submissions are spot checked manually throughout the term to verify that they are not hard coding the answer from looking only in the file or in CodeGrade's expected output.  If this is seen, the student's answer will be manually marked wrong and their grade will be changed to reflect this. 

For example, if the answer to Q1, the mean of a specific column, is 22:
```
# correct way
Q1 = df['column_name'].mean()

# incorrect way
Q1 = 22 
```

Let's start out by importing some standard imports.

In [1]:
# common imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', None)

## Import Data

Load the various Lego datasets below calling them the same as the name of the table as seen in the schema.  Note that you may or may not have to use all the data sets.  One of the things that all Data Scientists and Analysts have to decide when working on a project is what data is useful for a task and what data is not.  Remember to look at the schema above to see how all the data sets are connected.

The autograder in CodeGrade will have the `csv` files in the same location where the notebook is run.  Because of this, please make sure your local files are in the same location as your notebook.

In [2]:
# import Lego data sets here
# make sure that files are in the same folder as your notebook
inventories = pd.read_csv('inventories.csv')
inventory_sets = pd.read_csv('inventory_sets.csv')
sets = pd.read_csv('sets.csv')
themes = pd.read_csv('themes.csv')
inventory_minifigs = pd.read_csv('inventory_minifigs.csv')
minifigs = pd.read_csv('minifigs.csv')
inventory_parts = pd.read_csv('inventory_parts.csv')
part_categories = pd.read_csv('part_categories.csv')
parts = pd.read_csv('parts.csv')
colors = pd.read_csv('colors.csv')
part_relationships = pd.read_csv('part_relationships.csv')
elements = pd.read_csv('elements.csv')

## Exploration

Take time to look at all of the data sets using `.head()`, `.info()`, `.describe()`, etc to familiarize yourself with the data sets.  As you look at them, notice how the various tables connect together.

In [3]:
inventory_sets.describe().T

,count,mean,std,min,25%,50%,75%,max
inventory_id,3413.0,25839.150601,31384.971888,35.0,6117.0,12465.0,27003.0,122081.0
quantity,3413.0,1.857017,6.123060,1.0,1.0,1.0,1.0,60.0

## Assignment

Answer all the questions below using the available data.  There are multiple ways to get some of the answers.  I would suggest that you attempt to merge some data sets as needed to assist with getting answers.  This will make your tasks a lot easier and your code will be cleaner.

Also, you will be creating functions to get the answers to some of these questions.  This will make it much easier for you to get answers to similar questions in the future and CodeGrade will be checking your functions using different inputs.

**Q1:** Create a function called `data_count` that takes as input the data set (for example: `sets`) and returns the total number of rows in the data (as an integer).  Nothing else should be returned.

In [4]:
def data_count(df):
    return len(df.index)

**Code Check:**  If you call your `data_count` function using the `sets` DataFrame, you should see that there are 18,576 sets represented in the data.

In [5]:
data_count(sets)

18576

**Q2:** What is the average number of parts for a Lego set (rounded to the nearest integer)?  Save this as `Q2`.

In [6]:
Q2 = round(sets['num_parts'].mean())

**Q3:** What is the median number of parts per set (output as an integer)?  Save this as `Q3`.

In [7]:
Q3 = round(sets['num_parts'].median())

You should see that the median number of parts is much lower than the average number of parts per set.  This tells us that there are some Lego sets with a very high number of parts that brings the average up.

**Q4:** What is the largest number of parts that a set has? Save this as `Q4`.

In [8]:
Q4 = sets['num_parts'].max()

**Q5:** Given the set with the largest number of parts calculated above, select its row from the `sets` DataFrame.  Save this as `Q5`.  Do not reset the index.

In [9]:
Q5 = sets.loc[sets['num_parts'] == 11695]

**Q6:** Create a function called `select_set_row` where you pass it the `set_num` (as a string) and the function returns the respective row of the DataFrame from `sets`. Do not reset the index.

In [10]:
def select_set_row(col):
    return sets.loc[sets['set_num'] == col]

In [11]:
sets.head()

  set_num                        name  year  theme_id  num_parts
0   001-1                       Gears  1965         1         43
1  0011-2           Town Mini-Figures  1979        67         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          0
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

**Q7:** Create a function called `select_set_numparts` that takes as input a specific number of parts (as an integer) and selects all the rows in the `sets` DataFrame that contain those number of parts.  Return the DataFrame sorted by `year` and then by `set_num`.  Do not reset the index.

In [12]:
def select_set_numparts(npart):
    return sets.loc[sets['num_parts'] == npart].sort_values(['year','set_num'])

**Code Check:** Call the `select_set_numparts()` function to select all sets with `0` number of parts.  There should be 3,146 rows returned.

In [13]:
select_set_numparts(0)

,set_num,name,year,theme_id,num_parts
11061,700.1-2,Extra-Large Gift Set (Mursten),1953,366,0
17563,b55dk-01,Lego Mursten - System i Leg Byggebog,1955,497,0
17564,b56de-01,System im Spiel,1956,497,0
11072,700.2-2,Gift Package,1957,366,0
11078,700.3A-2,Gift Package,1957,372,0
...,...,...,...,...,...
15619,854195-1,Ernie Key Chain,2022,503,0
15620,854197-1,Demogorgon Key Chain,2022,503,0
17170,9780744054583-1,DC Comics Super Heroes: Character Encyclopedia...,2022,497,0
17193,9780794447557-1,City: Color The City,2022,497,0
17200,9780794448172-1,DC Comics Super Heroes: Ready For Action,2022,497,0

**Q8:** 
- The oldest set listed was made in what year?  Save the year as `Q8A` (as an integer).  
- The newest set listed was made in what year? Save the year as `Q8B` (as an integer).

In [14]:
Q8A = sets['year'].min()

In [15]:
Q8B = sets['year'].max()

**Q9:** 
- Create a function called `select_set_year` that takes as input a year (as an integer) and returns the rows from the `sets` DataFrame that matches that year.  Sort the DataFrame by `set_num`.  Do not reset the index.

In [16]:
def select_set_year(yr):
    return sets.loc[sets['year'] == yr].sort_values('set_num')

**Q10:** 
- Create a function called `theme_by_year` that takes as input a year (as an integer) and shows the theme ids and theme names (listed in order by theme id) that were in sets that year.  
- The column names must be `id` and `name_themes` (to differentiate between the name of a theme and the name of a set) in that order.  
- The index should be reset and go from `0` to `n-1`.  
- Each theme should only be listed once even if it appeared in more than one set from that year -- duplicate themes should be based on theme id and not name since there are some themes with the same name but with a different id.
- Hint:  It will help if you were to think about merging appropriate DataFrames to help you get this answer.

In [47]:
# merge the dataset themes and sets
theme_sets = themes.merge(sets, left_on = 'id', right_on = 'theme_id', suffixes=('_themes', '_sets'))
# create a custome function
def theme_by_year(yrs):
    return theme_sets[['id','name_themes']][theme_sets['year']== yrs].reset_index(drop=True)

**Code Check:** Call the `theme_by_year()` function on the year `1960`.  Your output should look as follows:

| | id | name_themes|
|-|---|---|
|0|371|Supplemental|
|1|497|Books|
|2|513|Classic|

**Optional Practice:** Call the `theme_by_year()` function using your birth year to see the Lego themes that were popular when you were born.

In [48]:
# code check for the year 1960
theme_by_year(1960)

    id   name_themes
0  371  Supplemental
1  497         Books
2  513       Classic

In [49]:
# optional check/optional practive with year of birth
theme_by_year(1979)

     id     name_themes
0     4  Expert Builder
1     4  Expert Builder
2     4  Expert Builder
3     4  Expert Builder
4     4  Expert Builder
..  ...             ...
89  668           Scala
90  668           Scala
91  668           Scala
92  668           Scala
93  668           Scala

[94 rows x 2 columns]

**Q11:** 
- Create a function called `theme_by_name` that takes as input a theme name and outputs all the sets (in `set_num` order) that had that theme.  
- The DataFrame should include the following columns in this order and with these exact names: `set_num`,`name_sets`,`year`,`num_parts`, `theme_id`, and `name_themes`.  
- The index should go from `0` to `n-1`.

In [50]:
def theme_by_name(thname):
    return theme_sets[['set_num','name_sets','year','num_parts','theme_id','name_themes']][theme_sets['name_themes']== thname].reset_index()

**Code Check:** Call the `theme_by_name()` function using the theme name `Gear`.  You should return 1,904 sets that match that theme name.

In [51]:
theme_by_name('Gear')

,index,set_num,name_sets,year,num_parts,theme_id,name_themes
0,10338,11138-1,Bionicle Barraki Wallet,2008,0,501,Gear
1,10339,119645111436-1,Classic Space Astronaut Plush (Red),2021,0,501,Gear
2,10340,119645111504-1,Classic Space Astronaut Plush (Blue),2021,0,501,Gear
3,10341,119645111740-1,Classic Space Astronaut Plush (White),2021,0,501,Gear
4,10342,119645111818-1,Classic Space Astronaut Plush (Pink),2021,0,501,Gear
...,...,...,...,...,...,...,...
1899,12237,WATCH-3,Watch System Voyager (UFO Space),1997,29,501,Gear
1900,12238,WIIGAME-1,Bionicle Heroes - Wii,2007,0,501,Gear
1901,12239,WIIGAME-2,Indiana Jones: The Original Adventures Video G...,2008,0,501,Gear
1902,12240,WOODENELEPHANT-1,Original Wooden Elephant Pull-Along Toy and Print,2021,0,501,Gear
1903,12241,ZX8000-1,ZX 8000 LEGO Sneaker,2020,0,501,Gear

**Q12:** Create a function called `theme_by_setnum` that takes as input the set_num (as a string) and returns the respective theme name as a string.

In [52]:
#def theme_by_setnum(num):
#    return theme_sets[['name_themes', 'set_num']][theme_sets['set_num'] == num]
def theme_by_setnum(num):
    return theme_sets['name_themes'][theme_sets['set_num'] == num]

**Code Check:** Visit the [Sets page](https://rebrickable.com/sets/) from the Rebrickable website and find a set that you like.  Call your `theme_by_setnum()` function on that set and make sure the correct theme name is output.

In [53]:
theme_by_setnum('75950-1')

4696    Harry Potter
Name: name_themes, dtype: object

**Millennium Falcon Prep Exercise:** Find all the sets named 'Millennium Falcon'. Of these sets, find the set with the largest number of parts.  You will use this information for later questions.

In [54]:
theme_sets[theme_sets['name_sets'] =='Millennium Falcon']
theme_sets[theme_sets['name_sets'] =='Millennium Falcon'][['set_num','num_parts']].max()

set_num      TRUSWMF-2
num_parts         7541
dtype: object

In [77]:
theme_sets[theme_sets['set_num'] == 'TRUSWMF-2']

,id,name_themes,parent_id,set_num,name_sets,year,theme_id,num_parts
3679,158,Star Wars,NaN,TRUSWMF-2,Millennium Falcon,2018,158,24

**Q13:** 
- How many minifigs are contained in the set from the `Millennium Falcon Prep Exercise`?  Save this as `Q13` (as an integer).  
- Note that there are sometimes multiple versions of a set as shown in the `inventories` table.  This will not matter for this question as there is only one version for the respective set but this should be noted for future questions.
- Remember to show your work or your answer will manually get marked as incorrect.

In [42]:
# merge datasets - sets and minifigs
set_minifigs = sets.merge(minifigs, left_on='num_parts',right_on='num_parts', suffixes=('_sets', '_minifigs'))

# counts numbers of minifigs with set number TRUSWMF-2 
Q3 = set_minifigs[set_minifigs['set_num'] =='TRUSWMF-2']['fig_num'].count()

**Q14:** 
- Create a function called `get_minifigs` that takes as input a set number (as a string) and a version number (as an integer) and outputs all minifigs from that set / version combination.  
- The DataFrame should be in `fig_num` order with the following columns/column names: `set_num`, `fig_num`, `fig_name`, `fig_num_parts`.  
- The index should go from 0 to n-1.

In [59]:
# merge themes to sets
themeset = themes.merge(sets, left_on='id',right_on='theme_id', suffixes=('_themes', '_sets'))

# merge the output above to inventories
themesetinvent = themeset.merge(inventories, on=['id','set_num'], how='outer')

# merge the output above to inventory_minifigs
themesetinventmini = themesetinvent.merge(inventory_minifigs, left_on='id',right_on='inventory_id',how='outer')

# merge the output above to minifigs
themesetinventminifig = themesetinventmini.merge(minifigs, on='num_parts',how = 'outer', suffixes=(None,'_parts'))

# Rename the column name to fig_name
themesetinventminifig.rename(columns={'name':'fig_name'},inplace=True)

In [68]:
def get_minifigs(setnum, vern):
    return themesetinventminifig[(themesetinventminifig['set_num'] == setnum) & (themesetinventminifig['version']==vern)][['set_num', 'fig_num', 'fig_name', 'fig_num_parts']].reset_index()

**Q15:** Using the above function, output information about the minifigs from the set discussed in the `Millennium Falcon Prep Exercise`.  Save this output as `Q15`.

In [69]:
Q15 = get_minifigs('TRUSWMF-2', 1)

**Code Check:** Make sure that your `get_minifigs()` function works with both version 1 and version 2 of set 10217-1, Harry Potter's Diagon Alley.  Both versions should have 11 minifigs in the DataFrame.

In [71]:
get_minifigs('10217-1', 1)

     index  set_num     fig_num fig_name fig_num_parts
0   141956  10217-1  fig-002229      NaN           NaN
1   141957  10217-1  fig-006075      NaN           NaN
2   141958  10217-1  fig-006084      NaN           NaN
3   141959  10217-1  fig-006130      NaN           NaN
4   141960  10217-1  fig-006138      NaN           NaN
5   141961  10217-1  fig-006162      NaN           NaN
6   141962  10217-1  fig-006163      NaN           NaN
7   141963  10217-1  fig-006164      NaN           NaN
8   141964  10217-1  fig-006165      NaN           NaN
9   141965  10217-1  fig-006166      NaN           NaN
10  141966  10217-1  fig-006167      NaN           NaN

In [73]:
get_minifigs('10217-1', 2)

     index  set_num     fig_num fig_name fig_num_parts
0   141956  10217-1  fig-002229      NaN           NaN
1   141957  10217-1  fig-006075      NaN           NaN
2   141958  10217-1  fig-006084      NaN           NaN
3   141959  10217-1  fig-006130      NaN           NaN
4   141960  10217-1  fig-006138      NaN           NaN
5   141961  10217-1  fig-006162      NaN           NaN
6   141962  10217-1  fig-006163      NaN           NaN
7   141963  10217-1  fig-006164      NaN           NaN
8   141964  10217-1  fig-006165      NaN           NaN
9   141965  10217-1  fig-006166      NaN           NaN
10  141966  10217-1  fig-006167      NaN           NaN

**Q16:** 
- Create a function called `minifigs_from_themes` that takes as input a theme id (as an integer) and outputs all the minifigs contained in sets with that theme.  
- The DataFrame should be in `fig_num` order with the following columns/column names: `fig_num`, `fig_name`. 
- The index should go from 0 to n-1.  
- Exact duplicates should be removed so that only unique figs are included.

In [140]:
def minifigs_from_themes(theid):
    Q16 = themesetinventminifig[themesetinventminifig['theme_id'] == theid].sort_values(['fig_num','fig_name']).reset_index(drop=True)
    return Q16.drop_duplicates(['fig_name'])

**Code Check:** Call the `minifigs_from_themes()` function using the theme number of the set discussed in the `Millennium Falcon Prep Exercise`.  There should be 149 minifigs output for that respective theme.

In [142]:
minifigs_from_themes(158)

**Q17:** 
- Create a function called `sets_from_minifig` that takes as input a minifig number (as a string) and returns a list of sets a minifig has appeared in.  
- Return a DataFrame (sorted by `set_num` and then by `version`) with the following columns: `set_num`, `version`,`name_sets`, `fig_num`, `fig_name`.  
- The index should go from 0 to n-1.

In [148]:
def sets_from_minifig(minnumb):
    return themesetinventminifig[themesetinventminifig['fig_num_parts'] == minnumb][['set_num', 'version','name_sets','fig_num','fig_name']].reset_index(drop=True)

In [149]:
### ENTER CODE HERE ###

**Code Check:** Call your `sets_from_minifig()` function on one of the Lego Friends minifigs, Andrea, who has figure number: `fig-001039`.  Your function should return a DataFrame that contains the following sets:

- Andrea on the Beach
- Birthday Party
- City Park Cafe

In [150]:
sets_from_minifig('fig-001039')

,set_num,version,name_sets,fig_num,fig_name
0,5000281-1,NaN,Chase McCain,fig-000253,"Andrea - Bright Light Orange Top, Light Aqua S..."
1,5000281-1,NaN,Chase McCain,fig-000485,"Andrea - Bright Light Orange Top, Light Aqua S..."
2,7996-1,NaN,Double Crossover Track,NaN,"Andrea - Bright Light Orange Top, Light Aqua S..."
3,2181-1,NaN,Infomaniac,fig-000419,"Andrea - Bright Light Orange Top, Light Aqua S..."
4,3384-1,NaN,Train Worker Chupa Chups Promotional,fig-000419,"Andrea - Bright Light Orange Top, Light Aqua S..."
...,...,...,...,...,...
369,COMCON027-1,NaN,Spider-Woman,NaN,"Andrea - Bright Light Orange Top, Light Aqua S..."
370,SDCC2016-1,NaN,Steve Rogers Captain America,NaN,"Andrea - Bright Light Orange Top, Light Aqua S..."
371,5004081-1,NaN,Plastic Man,NaN,"Andrea - Bright Light Orange Top, Light Aqua S..."
372,5002943-1,NaN,Winter Soldier,NaN,"Andrea - Bright Light Orange Top, Light Aqua S..."
373,COMCON023-1,NaN,Spider-Man in Black Venom Symbiote Costume,NaN,"Andrea - Bright Light Orange Top, Light Aqua S..."

In [ ]:
### CODE CHECK ###

In [154]:
themesetinventminifig[themesetinventminifig['name_sets'] =='Andrea on the Beach']

,id,name_themes,parent_id,set_num,name_sets,year,theme_id,num_parts,version,inventory_id,fig_num,quantity,fig_num_parts,fig_name
107546,494,Friends,NaN,30100-1,Andrea on the Beach,2012.0,494.0,28.0,NaN,NaN,NaN,NaN,fig-002791,Daddy No Legs
107547,494,Friends,NaN,30100-1,Andrea on the Beach,2012.0,494.0,28.0,NaN,NaN,NaN,NaN,fig-003976,"Droideka / Destroyer Droid, Reddish Brown Shel..."
107548,494,Friends,NaN,30100-1,Andrea on the Beach,2012.0,494.0,28.0,NaN,NaN,NaN,NaN,fig-010996,"Koopa Troopa, Paratroopa"

**Q18:** 

*Note:  Before you begin working on this question, please note that CodeGrade has a 1GB RAM limit.  If you see an `Exit -9` code when submitting your assignment, it is probably due to this RAM limit and previous students had an issue with this question causing too much memory usage.  The biggest thing to think about is to only use the tables that you need to answer for this question.  For instance, you do not need any of the minifigs data since this is not needed for the output and the merging of this data could cause the number of rows to "explode" in terms of the total count.  I understand that this can be annoying that we have to work around CodeGrade's limitations, but it is good practice in memory management.*

*You should only need to merge the following datasets for this answer so as to not go above the RAM limit: `themes`, `sets`, `inventories`, `inventory_parts`, `parts`, and `colors`*

- Create a function called `set_parts` that takes as input the set number (as a string) and version number (as an integer) and outputs a DataFrame with each part in the set.  
- The DataFrame should have the following columns/column names: `set_num`, `version`, `name_sets`, `year`, `name_themes`, `part_num`, `name_part`, `name_color`,`quantity`,`is_spare`.  
- The Data should be sorted by `part_num` and then `name_color`.  
- The index should go from 0 to n-1.

In [ ]:
inventoriesp = inventories.merge(inventory_parts, left_on='id',right_on='inventory_id')
inventoriesp.head(2)
inventoriespp = inventoriesp.merge(parts, left_on='part_num',right_on='part_num')
inventoriespp.head(2)
inventoriespps = inventoriespp.merge(sets, left_on='set_num',right_on='set_num', suffixes=('_part', '_sets'))
inventoriespps.head(2)
thecol = themes.merge(colors, left_on='id',right_on='id',suffixes=('_themes', '_color'))
thecol.head(2)
inventoriesppstco = pd.merge(inventoriespps, thecol, how='outer')

In [ ]:
inventoriesppstco[inventoriesppstco['set_num'] == 'TRUSWMF-2']

In [ ]:
def set_parts(numb,vern):
    return inventoriesppcst[(inventoriesppcst['set_num']== numb) & inventoriesppcst['version']== vern]['set_num', 'version', 'name_sets', 'year', 'name_themes', 'part_num','name_part','name_color','quantity','is_spare']

**Code Check**: Using the `set_parts()` function, output a list of parts for the set discussed in the `Millennium Falcon Prep Exercise`. There should be a total of 730 rows in the DataFrame, which includes 676 parts and 54 spare parts. You can check the respective page on the rebrickable website to verify these results.

In [ ]:
### CODE CHECK ###

## Optional Exercises
These exercises are optional and are not graded by CodeGrade.  They can be used as extra optional practice.

- What is the median year for the sets data?  Given the oldest and newest year in the data, what does this median value tell you about whether the number of sets have increased or decreased over the years?
- What minifig has the most number of parts?
- What minifig shows up in the most number of sets?
- When was the first minifig included in a set?
- What set has the most number of minifigs
- What part is used the most for all sets? 
- What color is used the most for all parts?
- Get a list of all unique color names, sort by color name, and output as a list. 
- How many total transparent colors are in the colors DataFrame?
- Create a function called get_part_colors that takes as input a part number (as a string) and returns a DataFrame of all colors a part has appeared in.
- What part / color combination is used the most for all sets?
- What part / color combination is used the least for all sets?
- Explore some of your favorite themes and which colors are used the most for those themes.
- Plot a line graph of the average number of parts per set per year.